.container {
  height: 100px;
}

.slider {
  font-size: 14px;
  max-width: 200px;
  margin: auto;
  color: #fff;

  .item {
    .spread_line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      white-space: nowrap;

      & small {
        margin-right: 5px;
        text-overflow: ellipsis;
        overflow: hidden;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.input {
  width: 60px;
  text-align: center;
  padding: 2px 4px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  color: #0e8be4;
  font-size: 14px;
}