{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [ "babel" ],
  "rules": {
    "max-len": [2, { "code": 120, "ignoreUrls": true }]
  }
}
